<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="appId" value="uay57kigwe0b6f5n0e1d4z4xhydsml3dor24bzwvzr57wdap" />
    <add key="appKey" value="kfgz7jjfsk55r5a8a3y4ttd3je1ko11bkibcikonk32oozww" />
  </appSettings>
</configuration>